.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  height: 100vh;
}

.countdown div {
  margin: 0 20px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

h2 {
  text-align: center;
  justify-content: center;
  font-size: 45px;
}
