body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: #fff;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#game-section {
  text-align: center;
  margin: 40px;
}

#game-section img {
  max-width: 100%;
  width: 174px;
  max-height: 250px;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 10px;
}

#about-section {
  background-color: #333;
  color: #fff;
  padding: 40px;
}

section {
  background-color: #2c2c2c;
  color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.div-sobre {
  max-width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0 20px;

  border-radius: 5px;
}

strong {
  font-weight: 600;
  font-size: 24px;
}

p {
  font-size: 18px;
}

.frase-de-efeito {
  padding-top: 690px;
  font-size: 24px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
